@model SectionViewModel
@{ this.ViewData["Title"] = "Section";
    this.ViewBag.LockDate = string.Format("{0:yyyy-MM-dd}", Model.UnlockOn);
}


<script src="~/js/ckeditor/ckeditor.js"></script>

<p>
    <h4>Edit Section</h4>
</p>

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <div class="panel-body">
                <div class="form">
                    <form asp-controller="Section" asp-action="CreateSection" enctype="multipart/form-data">                        
                        <div class="form-group">
                            <label asp-for="@Model.Title"></label>
                            <input type="text" asp-for="@Model.Title" class="form-control" />
                            <span asp-validation-for="@Model.Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="@Model.Content"></label>
                            <textarea asp-for="@Model.Content" name="Content" id="Content" class="ckeditor"></textarea>
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label>Set New Rank</label>
                            <span asp-validation-for="Rank" class="text-danger"></span>
                            <select asp-for="@Model.Rank" name="selectedRank" class="custom-select">
                                <option value="NoChange">No Change</option>

                                @{
                                    int count = this.ViewBag.SectionsCount;

                                    for (int i = 0; i < count; i++)
                                    {
                                        <option value="@this.ViewBag.Sections[i]">@this.ViewBag.Sections[i]</option>
                                    }
                                }

                            </select>
                        </div>
                        <div class="form-group">
                            @if (@Model.IsEmbeded)
                            {<span>
                                    <label for="notembedded" class="radio">DisplayMode: <b>Embedded</b> Open Content in New Page</label>
                                    <input type="radio" id="radioBtn" value="false" asp-for="@Model.IsEmbeded" />
                                </span>

                            }
                            else
                            {
                                <span>
                                    <label for="embedded" class="radio">DisplayMode: <b>Not Embedded</b> Embed Content in Course Page</label>
                                    <input type="radio" id="radioBtn2" value="true" asp-for="@Model.IsEmbeded" />
                                </span>

                            }
                        </div>
                        <div class="form-group">

                            @if (@Model.IsRestricted)
                            {
                                <span>
                                    @*<p class="margin12">Current ViewMode: <b>Restricted</b></p>*@
                                    <label>ViewMode:<b>Restricted @this.ViewBag.LockDate</b> Unlock View on<span>*</span></label>
                                    <input id="restriction" type="date" name="UnlockOn" asp-for="@Model.UnlockOn" />
                                    <i class="fas fa-calendar-alt"></i>
                                </span>
                            }
                            else
                            {
                                <p class="margin12">ViewMode: <b>Not Restricted</b></p>
                                <label asp-for="Restriction">Change View</label>
                                <span asp-validation-for="Restriction" class="text-danger"></span>
                                <select asp-for="@Model.Restriction" name="restriction">
                                    <option value=""></option>
                                    <option value="true">Hide Section</option>
                                </select>
                                <div class="form-group">
                                    <label>Unlock View on<span>*</span></label>
                                    <input id="restriction" type="date" name="UnlockOn" asp-for="@Model.UnlockOn" />
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            }
                        </div>
                        <div class="form-group">
                            <br />
                            <button type="submit" asp-controller="Section" asp-action="Edit" method="post" class="btn-primary">Update</button>
                        </div>
                    </form>
            </div>
    </div>
    </section>
</div>

</div>
<script>
    CKEDITOR.replace('Content', {
        allowedContent: true,
    });
    var radioState = false;
    function test(element) {
        if (radioState == false) {
            check();
            radioState = true;
        } else {
            uncheck();
            radioState = false;
        }
    }
    function check() {
        document.getElementById("radioBtn").checked = true;
        document.getElementById("radioBtn2").checked = true;
    }
    function uncheck() {
        document.getElementById("radioBtn").checked = false;
        document.getElementById("radioBtn2").checked = false;
    }
</script>



