@{
    ViewData["Title"] = "NewsLetter";
}
@model NewsLetterModel
<!-- Registration Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">            
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-light text-center p-4">
                        <h1 class="m-0">Create NewsLetter</h1>                        
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-5">
                        <form asp-controller="Subscription" asp-action="Send" method="post">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <input type="text" name="subject" asp-for="@Model.Subject" class="form-control border-0 p-4" placeholder="Subject" required="required" />
                                <span class="text-danger" asp-validation-for="@Model.Subject"></span>
                            </div>
                            <div class="form-group">
                                <textarea cols="20" rows="5" name="body" asp-for="@Model.Body" class="form-control border-0 p-4" placeholder="Your nesletter content" required="required"></textarea>
                                <span class="text-danger" asp-validation-for="@Model.Body"></span>
                            </div>
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3" type="submit">Send Mail</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration End -->
