@{
    ViewData["Title"] = "Contact";
}
@model SendMailDto

<!-- Registration Start -->
<div class="container-fluid bg-registration py-5" style="margin: 90px 0;">
    <div class="container py-5">
        <div class="row align-items-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Need Any Courses</h5>
                    <h1 class="text-white">30% Off For New Students</h1>
                </div>
                <p class="text-white">
                    Invidunt lorem justo sanctus clita. Erat lorem labore ea, justo dolor lorem ipsum ut sed eos,
                    ipsum et dolor kasd sit ea justo. Erat justo sed sed diam. Ea et erat ut sed diam sea ipsum est
                    dolor
                </p>
                <ul class="list-inline text-white m-0">
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Labore eos amet dolor amet diam</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Etsea et sit dolor amet ipsum</li>
                    <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Diam dolor diam elitripsum vero.</li>
                </ul>
            </div>
            <div class="col-lg-5">
                <div class="card border-0">
                    <div class="card-header bg-light text-center p-4">
                        <h1 class="m-0">Contact Us</h1>
                    </div>
                    <div class="card-body rounded-bottom bg-primary p-5">
                        <form asp-controller="Home" asp-action="Contact" method="post">
                            <div class="form-group">
                                <input type="text" name="name"asp-for="@Model.Name"class="form-control border-0 p-4" placeholder="Your name" required="required" />
                                <span class="text-danger" asp-validation-for="@Model.Name"></span>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" asp-for="@Model.Email"class="form-control border-0 p-4" placeholder="Your email" required="required" />
                                <span class="text-danger" asp-validation-for="@Model.Email"></span>
                            </div>
                            <div class="form-group">
                                <textarea type="text" name="content"asp-for="@Model.Content"class="form-control border-0 p-4" placeholder="Your message" required="required"></textarea>
                                <span class="text-danger" asp-validation-for="@Model.Content"></span>
                            </div>
                            <div>
                                <button class="btn btn-dark btn-block border-0 py-3" type="submit">Send Mail</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Registration End -->