@{
    this.ViewData["Title"] = "Details";
}

@model Course



<h2>@this.Model.Title</h2>
<p class="margin12">Category: @this.Model.Category.Name</p>
<br />
<p class="margin12">Description: @this.Model.Description</p>

<h4>Sections</h4>
@{
    foreach (var item in this.Model.Sections)
    {
        <dl>
            <dt>@item.Title</dt>
            @*<dd>- @item.Content</dd>*@
        </dl>
    }
}



