@{
    this.ViewData["Title"] = "Details";
}

@model StudentCourseViewModel

<h2>@this.Model.Title</h2>
<br />
<p class="margin12"><h6>Description:</h6>@Html.Raw(this.Model.SanitizedContent)</p>

<h4>Sections</h4>
@{
    foreach (var item in this.Model.Sections)
    {
    <dl>
        @if (item.IsRestricted)
        {
            <dt>@item.Title <span class="badge bg-secondary">Restricted</span></dt>
        }
        else
        {
            @if (item.IsEmbeded)
            {
                <dt>@item.Title</dt>
                <dd>@Html.Raw(item.Content)</dd>
            }
            else
            {
                <dt>
                    <a asp-controller="Section" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                </dt>
            }
        }
    </dl>
    }
}
   <a href="#myModal" class="btn bg-dark text-white float-right" data-toggle="modal">Unenroll</a>
                                <!-- Delete Modal HTML start-->
                                <div id="myModal" class="modal fade">
                                    <div class="modal-dialog modal-confirm">
                                        <div class="modal-content">
                                            <div class="modal-header flex-column">
                                                <div class="icon-box">
                                                    <i class="material-icons">&#xE5CD;</i>
                                                </div>
                                                <h4 class="modal-title w-100">Are you sure?</h4>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Do you really want to unenroll from this course?</p>
                                            </div>
                                            <div class="modal-footer justify-content-center">
                                                <button type="button" class="btn btn-success" data-dismiss="modal">Cancel</button>
                                                <form asp-controller="Courses" asp-action="Unenroll" asp-route-id="@Model.CourseId">
                                                    <div>
                                                        <input type="submit" value="Confirm" class="btn btn-danger" />
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete Modal HTML end-->




