@{
    this.ViewData["Title"] = "Details";
}

@model Course



<h2>@this.Model.Title</h2>
<br />
<p class="margin12"><h6>Description:</h6>@Html.Raw(this.Model.SanitizedContent)</p>

<h4>Sections</h4>
@{
    foreach (var item in this.Model.Sections.OrderBy(s => s.Rank))
    {
    <dl>
        @if (item.IsRestricted)
        {
            <dt>@item.Title <span class="badge bg-secondary">Restricted</span></dt>

        }
        else
        {
            @if (item.IsEmbeded)
            {
                <dt>@item.Title</dt>
                <dd>@Html.Raw(item.Content)</dd>
            }
            else
            {
                <dt>
                    <a asp-controller="Section" asp-action="Details" asp-route-id="@item.Id">@item.Title</a>
                </dt>
            }

        }


    </dl>
    }
}



