@model List<Course>

<div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-5">
            <h3 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">All Courses</h3>
            <a class="btn bg-dark" asp-controller="Courses" asp-action="Create">Create a new course</a>
        </div>
       
        <table class="table table-hover">
    <thead class="bg-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">
                <a asp-controller="Courses" asp-action="Index" asp-route-SortBy="Title" asp-route-SortOrder="@this.ViewData["SortOrder"]">Title</a>
            </th>
            <th scope="col">Content</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
            foreach (var course in this.Model)
            {
                <tr>
                    <th scope="row">@counter</th>
                    <td>
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@course.Id">@course.Title</a>
                    </td>
                    <td>
                        <p>@course.Description</p>
                    </td>
                    <td>
                        <a asp-controller="Courses" asp-action="Edit" asp-route-id="@course.Id">Edit</a>
                        <a class="text-danger" asp-controller="Courses" asp-action="Delete" asp-route-id="@course.Id">Delete</a>
                    </td>
                </tr>

                counter += 1;
            }
        }
    </tbody>
</table>
    </div>
</div>


<!--
<form asp-controller="Post" asp-action="Index" method="get" class="form-inline">
    Find post by title:
    <input type="text" class="form-control" name="Title" />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>

--> 