@{
    this.ViewData["Title"] = "Details";
}

@model Course


<h2>@this.Model.Title</h2>
<p class="margin12"><h6>Category:</h6> @this.Model.Category.Name</p>
<p class="margin12"><h6>Description:</h6> @this.Model.Description</p>

<h4>Sections</h4>
@{
    foreach (var item in this.Model.Sections)
    {
    <dl>
        <a asp-controller="Section" asp-action="Index" asp-route-id="@item.Id">@item.Title</a>
        @*<dt>@item.Title</dt>*@
        @*<dd>- @item.Content</dd>*@
    </dl>
    }
}
<p>
    <a class="btn btn-primary float-right" asp-controller="Section" asp-action="CreateSection" asp-route-id="@Model.Id">Add new Section</a>
</p>

<h4>Users</h4>

<ul>
    @{
        foreach (var user in this.Model.Users)
        {
            <li class="margin12">@user.FirstName @user.LastName</li>
        }
    }
</ul>
