@{
    this.ViewData["Title"] = "Details";
}

@model Course



<h2>@this.Model.Title</h2>
<p class="margin12">Category: @this.Model.Category</p>
<br />
<p class="margin12">Content: @this.Model.Description</p>

<h4>Sections</h4>
@{
    foreach (var item in this.Model.Sections)
    {
        <dl>
            <dt>@item.Title</dt>
            <dd>- @item.Content</dd>
        </dl>
    }
}
<p>
    <a class="btn btn-primary float-right" asp-controller="Teacher" asp-action="CreateSection" asp-route-id="@Model.Id">Add new Section</a>
</p>

<h4>Users</h4>

<ul>
    @{
        foreach (var user in this.Model.Users)
        {
            <li class="margin12">@user.FirstName @user.LastName</li>
        }
    }
</ul>
